{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
  <div class="col-md-6">
    <h1>Project creation</h1>

    {{ form(form) }}

    <div class="btn-actions">
        <a href="{{ path('projects') }}">
            Back to the list
        </a>
    </div>
  </div>
</div>
{% endblock %}
