html {
  min-height: 100%;
  background: white;
}
.sf-toolbar {
  background: white;
}

.side-nav {
  position: fixed;
  top: 92px;
  width: 225px;
  border: none;
  background-color: #222;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
}

.navbar-right {
  margin: 0;
  text-align: right;
}
.navbar-right > li {
  display: inline-block;
}

.navbar-right > li > a{
  padding: 15px;
}

.side-nav li{
  float: none;
}

#page-wrapper {
  padding: 20px;
  margin-top: 101px;
}

.container {
  width: 100%;
}

.btn-actions {
  margin-bottom: 25px;
  text-align: right;
}

.btn-actions a {
  margin-left: 25px;
}


.glyphicon {
  margin-right: 5px;
}

/* Tables */
.table-hover > tbody > tr:hover {
  background-color: #e5e5e5;
}

.block-records tbody tr {
  cursor: pointer;
}

@media (min-width: 768px) {
  #page-wrapper {
    margin: 50px 0 0 225px;
    padding: 20px 50px;
  }
  .side-nav {
    top: 50px;
  }
}

@media (max-width: 768px) {
  .side-nav {
    width: 100%;
  }
  .side-nav li {
    text-align: center;
    margin-bottom: 10px;
  }
}
